* { font-family: 'Helvetica', sans-serif; }

i { color: #088178  }

.text--center {
    text-align:center;
}

.text__header--small {
    font-size: 20px;
    font-weight: bold;
}

.text__header--x-small {
    font-size: 16px;
    font-weight: bold;
}

.text--small {
    font-size: .90em;
}